
{% load static %}
{% load task_tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List New</title>

    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
  </head>
  <body>
    <div class="app">
      <div class="container">
        <form action="{% url 'doing:todo-create' %}" method="post">
        {% csrf_token %}
          <input  type="text" name="task" placeholder="Task to be done.." />
          <button> Add</button>
        </form>
        {% for task in tasks %}
        {% if task.user == request.user %}
        <div>
          {{task.task}}
        </div>
        <form action="{% url 'doing:todo-delete' pk=task.id %}" method="post">
        {% csrf_token %}
        <button style="background-color: red;">
        delete
        </button>
        </form> 
        <form action="{% url 'doing:todo-done' pk=task.id %}" method="post">
        {% csrf_token %}
        <button style="background-color: green;">
        done
        </button>
        </form>
        {% endif %}
        {% endfor %}
        
          <p>
            You ve <span class="count-value"> dsa;jkdlk </span> task(s) to complete.
          </p>
      </div>
    </div>
  </body>
</html>
